/* Fonte PT-SANS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 


/* CSS reset */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'PT Sans', sans-serif;
    color: white;
}

.container {
   width: center;
   display: flex;
   justify-content: left;
   margin: 0 auto;

}

body{
    background-color: rgb(99, 165, 226);
}

header{
    background-color: rgb(0, 0, 143);
    height: 50px;
    width: 1290px;
    display: flex;
    

}
.MainMenu {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  
   
}


.margem{
margin-right: 10px;

}

.caixa_entrada{
 
   margin-left: 30px;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
   
}


.MainMenuContainer {
      
    display: flex;
    width: 600px;
    margin-left: 0px;
    
}

.ItensMainMenu {
      
    display: flex;
    width: 600px;
   
   
    /* justify-items: space-between; */
    
    color: #ffffff; 
    
    font-size:18px;
    text-decoration: none;
}

 .ItensMainMenu a {

    width: 100px;
    justify-items: space-between;
    color: #ffffff; 
    text-decoration: none;
     
    
} 

.ItensMainMenu a:hover {

    width: 100px;
    
    justify-items: space-between;
    font;
    font-weight: 600;
    text-decoration: none;
     
    
} 


.MainMenuLog{
      
    display: flex;
    width: 150px;
    margin-left:50px;
    justify-content:space-around;
    color: #ffffff; 
    /* text-transform: uppercase; */
    font-size:18px;
    
}

.MainMenuLog a{
      
    text-decoration: none;
   
}

.MainMenuLog a:hover{
      
    font-weight: 600;
   
}